.container
  %form.form-signin{:action => "/change", :method => "post"}
    %h2
      Clip:
      = @number
    %p
      = @username
      = surround '(', ')' do
        = @extension
      %a{:href => url("/logout")} Logout

    - if !@last_clip.nil?
      %p
        %a{:href => url("/change/#{@last_clip}")}
          Change back to
          = @last_clip
    %input.input-block-level{:placeholder => "clip", :type => "text", :name => "clip"}
    %button.btn.btn-large.btn-primary{:type => "submit"} Change
